/** 
 * @author Nicolas Capiaumont
 * css des pages de mon portfolio sauf la page index (présentation générale)
 */
/* Place tous les éléments de la page au bon endroit (bord sans margin) */
* {
	margin: 0;
}
/* Fixe le style d'ecriture sur la page */
body {
	font: normal 100% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	background-color: #F2F2F2;
}
.header{
	height:200px;
	background-color:rgb(28,28,28);
	border-bottom: solid;
	border-bottom-color: rgb(255, 255, 255);
}
.f-head{
	margin-top: 50px;
}
.f-nav{
	position: fixed;
	top: 0;
	width: 100%;
	z-index:50;

}
.headPostionLogo{
	padding-top:50px;
}
.headTextPosition {
	padding-top:30px;
}
.headTitle{
	font: bold 300% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	color:white;
}
.headName {
	font: bold 150% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	color:white;

}
.headDescription {
	font: bold 150% "Trebuchet MS",Verdana,"Lucida Grande",Tahoma,Arial,Helvetica,Sans-Serif;
	color:white;

}
/* le menu qui va bien */
.nav {
	height:25px;
	background-color: rgb(28, 28, 28);
	color: #fff;
	padding:15px;
	padding-left:30px;
	padding-right:30px;
	font-size: 20px;
	word-spacing: 30px;/* espacement entre deux mots */
}
/* placement a gauche */
.left {
	float: left !important;	
}
/* placement a droite */
.right {
	float: right !important;
}
a {
	text-decoration:none;
	color: orange;
}
/* Style des titres h1 */
h1 {
	color: #fff;
	text-align: center;
	padding:20px;
	background: orange;
	letter-spacing: 1px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	z-index:2;

}
h1 img{
	margin-bottom: -10px;	
}
/* Style des titres h2 */
h2 {
	text-align: center;
	padding: 15px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	background-color: #848484;
	color: #F2F2F2;
}
/* Style des titres h3 */
h3 {
	background-color: #E6E6E6;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;

}
/* classe row qui place correctement le contenu de la page */
.row {
	margin-left: auto;
	margin-right: auto;
	max-width: 1000px;
}
.colonne-left {
	position: relative;
	width: 50%;
	float: left;
}
.colonne-right {
	position: relative;
	width: 50%;
	float: right;
}
.clear {
	clear: both;
}
/* Style des paragraphes */
p {
	color: #000;
	padding-left: 25px;
	padding-right: 25px;
	text-align: justify;
	padding: 10px;
}
/* style des li */
li {
	padding: 5px;
	list-style: circle;
}
/* class pour centrer */
.center {
	text-align:center;	
}
/* décoration des boutons */
.buttonDeco {
	color: #fff;
	background-color:#1C1C1C;
	text-align: center;
	width:160px;
	height: 50px;
	border: none;
	-webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-ms-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	cursor:pointer;
	margin: 5px;
}
/* hover (au passage de la souris) changement de couleur */
.buttonDeco:hover {
	background-color: orange;
}
/* change l'aspect général d'un textaera */
.textareaDeco {
	max-width:488px;
	max-height:208px;
	padding:5px;
	height: 209px;
	width: 489px;
}
/* création d'un espace vide pour faire un saut de ligne */
.espace {
	height:50px;
	width:100%;	
}
/* Change l'aspect général d'un input */
.inputTextDeco {
	width:100%;
	height:30px;
	padding-left:5px;
}
#form-div {
	background-color:rgba(72,72,72,0.4);
	padding-left:35px;
	padding-right:35px;
	padding-top:35px;
	padding-bottom:50px;
	width: 100%;
	float: left;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
}
.feedback-input {
	color:#3c3c3c;
	font-family: Helvetica, Arial, sans-serif;
  	font-weight:500;
	font-size: 18px;
	border-radius: 0;
	line-height: 22px;
	background-color: #fbfbfb;
	padding: 13px 13px 13px 54px;
	margin-bottom: 10px;
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
  	border: 3px solid rgba(0,0,0,0);
}
.feedback-input:focus{
	background: #fff;
	box-shadow: 0;
	border: 3px solid orange;
	color: orange;
	outline: none;
  	padding: 13px 13px 13px 54px;
}

.focused{
	color:#30aed6;
	border:#30aed6 solid 3px;
}
/* Icons ---------------------------------- */
#name{
	background-image: url(../images/formulaire/name.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#name:focus{
	background-image: url(../images/formulaire/name.svg);
	background-size: 30px 30px;
	background-position: 8px 5px;
 	 background-position: 11px 8px;
	background-repeat: no-repeat;
}
#email{
	background-image: url(../images/formulaire/email.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
#email:focus{
	background-image: url(../images/formulaire/email.svg);
	background-size: 30px 30px;
  background-position: 11px 8px;
	background-repeat: no-repeat;
}
#comment{
	background-image: url(../images/formulaire/comment.svg);
	background-size: 30px 30px;
	background-position: 11px 8px;
	background-repeat: no-repeat;
}
textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}
#button-orange{
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	float:left;
	width: 100%;
	border: #fbfbfb solid 4px;
	cursor:pointer;
	background-color: black;
	color:white;
	font-size:24px;
	padding-top:22px;
	padding-bottom:22px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
  	margin-top:-4px;
  	font-weight:700;
}
#button-orange:hover{
	background-color: orange;
	color: white;
}
/* class pour écire le text en orange */
.textOrange {
	color:orange;	
}
/* change la couleur en cas d'erreur lors de l'envoi de l'email */
.erreur{
	background-color:red;	
}
/* change la couleur en cas d'email envoyé avec succes */
.good{
	background-color:green;	
}
/* change la couleur en cas d'email avant les 2 minutes */
.wait{
	background-color:blue;	
}
/* amélioration du rendu des images */
.imgDeco {
	border:solid;
	border-color:orange;
	border-radius:10px;
}
/* supprime la decoration des textes qui auront cette classe */
.textnodeco {
	text-decoration: none;
	color:rgb(255, 255, 255);
	letter-spacing: 1px;
}
/* classe active pour afficher si le menu est actif */
.active {
	color:orange;
}
/* mise en place de l'image facebook */
#facebook {
	width: 60px;
	height: 60px;
}
/* mise en place de l'image github */
#github {
	width: 60px;
	height: 60px;
}
/* mise en place de l'image contact */
#contact {
	width: 60px;
	height: 60px;
}
/* Mise en forme du footer */
#footer {
	color: #fff;
	background-color:#1C1C1C;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.5);
	font-size: 20px;
	padding: 25px;
	height: 70px;
	margin-top:50px;
}
/* texte nom dans le footer */
#textFooterNicolas {
	font-size: 20px;
}
/* class du texte du footer */
.textFooterDroit {
	font-size: 15px;
}
#reseaux li{
	float: left;
	margin: 5px;
	margin-top: 10px;
	list-style-type:none;

}
/* placement des reseaux dans le footer */
#reseaux {
	display:block;
	float:right;
}
/* placement du texte dans le footer */
#textesFooter {
	display:block;
	float:left;
}
#btn_up{
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	display:none;
	z-index:7;
}
/* width 665px passage en format tablette/téléphone */
