/*
*********************************************
**               _   _     _       _       **
**    __ _ _ __ | |_(_) __| | ___ | |_     **
**   / _` | '_ \| __| |/ _` |/ _ \| __|	   **
**  | (_| | | | | |_| | (_| | (_) | |_     **
**   \__,_|_| |_|\__|_|\__,_|\___/ \__|    **
**                                         **
*********************************************
*/
/* Permet de centrer tout ce qui aura la class center */
.center{
	text-align:center !important;
	width:initial !important;
}
/* corrige le problème avec chosen (le width était a 0px si la div était none) */
.chosen-container{
  width: 180px !important;
}
/* met une ombre verte sur le titre */
.titrePage
{
    text-shadow: 2px 2px 7px #96aa34;
}
/* permet de cacher n'importe quel élément qui a cette classe */
.cacher{
	display:none;
}
/* affiche le texte du "menu" déroulant au milieu de le page */
#deroulant{
	text-align:center;
}
/* ajout un border en bas pour délimiter "le bloc" et ajout un padding en haut et en bas */
#blockFormulaire .block {
	padding-top:20px;
	padding-bottom:20px;
	border-bottom:1px solid #dadada;
}
/* change la couleur, la grosseur et supprime le souligné du lien qui permet de dérouler la liste  */
#blockFormulaire a.afficher {
	font-size:20px;
	font-weight:bold;
	color:#465c7d;
	text-decoration:none;
}

/* change la couleur du lien quand il est survolé */
#blockFormulaire .block.active a.afficher, #blockFormulaire .block a:hover.afficher {
	color:#80a308;
}
/* change le curseur quand on se trouve sur le '?' de la bulle l'information */
a.btn.popover-test:hover{
	cursor:help;
}
/* change la couleur quand le textarea est selectionné ou survolé */
.textarea:focus, .textarea:hover{
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
/* change le text area en fixant la taille maximum ajout d'une bordure et d'une couleur */
.textarea{
	width:160px;
	padding: 8px 8px 8px 8px;
	height: 100px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;	
	max-width:160px;
	max-height:250px;

}
/* change la couleur quand l'input text est selectionné ou survolé */
.text:focus, .text:hover{
	border: 1px solid #5897fb;
	box-shadow: 0 0 5px rgba(0,0,0,.3);
}
/* change la taille des l'input text, met une bordure grise et met un padding */
.text{
	width:170px;
	padding: 0 0 0 8px;
	height: 23px;
	border: 1px solid #aaa;
	border-radius: 5px;
	background-color: #fff;	
}
/* change le pointeur quand on se trouve sur un radio */
.radio{
	cursor: pointer;
}
/* place les ? des bulles d'aide aligné a 280px du bord gauche */
a.btn.popover-test{
	position:absolute;
	left:35%;
	color:white;
}
/* Bouton retour vers le haut au bon endroit et change le pointeur quand on est dessus */
#btn_up{
	position: fixed;
	bottom: 30px;
	right: 30px;
	cursor: pointer;
	display:none;
}
/* fixe la largeur d'un select a 180px */
select{
	width:180px;
}
/* fixe la largeur d'un label a 150px et les mets en block pour permettre de les affichers au dessus des inputs */
label{
	display: block;
	width: 150px;
}
/* permet de placer les labels avec Go a droite des inputs */
.labelGo{
	display:initial;
}
/* image de fond du site */
body{
	background: url(../imgs/bg-header.png);
}
/* centre le titre de la page et lui donne une couleur */
#titlePage h1{
	text-align:center;
	color: #465c7d;
}
/* met le logo de la page a gauche */
#logo{
	float:left;
	position:absolute;
}
/* image de fond de la page (bordures), positionnement des margesn padding ... */
#page{
	background: url(../imgs/bg-featured.png);
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 15%;
	margin-left: 15%;
	margin-top: -20px;
}
/* image du fond du contenu de la page, positionnement des marges, padding... fixe la couleur du text du contenu (gris), met les bordures de la page avec un radius */
#contenuPage{
	background: url(../imgs/bg-header.png);
	padding-right:35px;
	padding-left:35px;
	padding-top:5px;
	padding-bottom:5px;
	margin-right:10px;
	margin-left:10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	color: #636466;
}
/* change la couleur des titres du contenu de la page (bleu) */
#contenuPage h1{
	color: #465c7d;
}
/* change la grosseur de la police du texte qui indique que les * sont obligatoires */
#obligatoire{
	font-size:15px;
	margin-top:10px;
	margin-bottom: -15px;
}
/* change l'écriture et la grosseur du texte des legends sur la page contenu */
#contenuPage legend{
	color: #465c7d;
	font-weight: bold;
}
/* place le message de bienvenue au centre de la page */
#bienvenue{
	text-align:center;
}
/* place le titre du contenu au centre de la page */
#titleContent{
	text-align:center;
}
/* met le texte du menu au centre, place bien la barre de menu, change l'image de fond, met des bordures arondi */
#menu{
	text-align:center;
	padding:1px;
	background: url(../imgs/bg-featured.png);
	-webkit-border-top-left-radius: 40px;
	-webkit-border-top-right-radius: 40px;
	-moz-border-radius-topleft:40px;
	-moz-border-radius-topright:40px;
	border-top-left-radius:40px;
	border-top-right-radius:40px;
	margin-left: 15%;
	margin-right: 15%;
	padding-bottom: 0px;
}
/* ecrit le message d'erreur en rouge ainsi que en gras et change la taille de la police et l'écris au milieu de la page */
#error{
	color:red;
	font-weight:bold;
	font-size:40px;
	text-align:center;
}
/* change le fond du footer, le place bien sur la page, change la couleur place au milieu le texte */
#footer{
	background: url(../imgs/bg-featured.png);
	clear: both;
	margin-left: 15%;
	margin-right: 15%;
	padding: 20px 0;
	text-align: center;
	font-family: 'QlassikMediumRegular';
	font-size: 0.9em;
	color: #cad957;
	line-height: 1em;
	-webkit-border-bottom-right-radius: 40px;
	-webkit-border-bottom-left-radius: 40px;
	-moz-border-radius-bottomright: 40px;
	-moz-border-radius-bottomleft: 40px;
	border-bottom-right-radius: 40px;
	border-bottom-left-radius: 40px;
}
/* enleve le souligné et change la couleur du lien dans le footer */
#footer a{
	text-decoration:none;
	color: #cad957;
}
/* enleve les points des li dans social et les places au bon endroit */
#social li{
	list-style: none;
	display: inline-block;
	margin-right: 3px;
}
/* place au bon endroit les icones socials */
#social{
	margin-top: -10px;
	padding-left: 40px;
	padding-right: 40px;
}
/* change l'image quand la souris passe sur l'image */
#facebook:hover{
	background: url("../imgs/contact/ico_facebook_after.png");
}
/* change l'image quand la souris passe sur l'image */
#google:hover{
	background: url("../imgs/contact/ico_google_after.png");		
}
/* change l'image quand la souris passe sur l'image */
#linkedin:hover{
	background: url("../imgs/contact/ico_linkedin_after.png");			
}
/* change l'image quand la souris passe sur l'image */
#rss:hover{
	background: url("../imgs/contact/ico_rss_after.png");			
}
/* change l'image quand la souris passe sur l'image */
#twitter:hover{
	background: url("../imgs/contact/ico_twitter_after.png");			
}
/* boutons du menu */
.nav {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 40% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:16px;
	-moz-border-radius-topleft:16px;
	border-top-left-radius:16px;
	-webkit-border-top-right-radius:16px;
	-moz-border-radius-topright:16px;
	border-top-right-radius:16px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0px;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	font-style:normal;
	height:60px;
	line-height:60px;
	width:115px;
	text-decoration:none;
	text-align:center;
	text-shadow:2px 2px 0px #689324;
}
/* boutons du menu au survole de la souris (change la couleur) */
.nav:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 40% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}
/* boutons du menu au clique */
.nav:active {
	position:relative;
	top:1px;
}
/* bouton envoyer du formulaire */
.submit {
	-moz-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	box-shadow:inset 0px 1px 0px 0px #c1ed9c;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #9dce2c), color-stop(1, #8cb82b) );
	background:-moz-linear-gradient( center top, #9dce2c 5%, #8cb82b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#9dce2c', endColorstr='#8cb82b');
	background-color:#9dce2c;
	-webkit-border-top-left-radius:20px;
	-moz-border-radius-topleft:20px;
	border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-moz-border-radius-topright:20px;
	border-top-right-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	-moz-border-radius-bottomright:20px;
	border-bottom-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-moz-border-radius-bottomleft:20px;
	border-bottom-left-radius:20px;
	text-indent:0;
	border:1px solid #83c41a;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:86px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #689324;
}
/* bouton envoyer du formulaire au passage de la souris */
.submit:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #8cb82b), color-stop(1, #9dce2c) );
	background:-moz-linear-gradient( center top, #8cb82b 5%, #9dce2c 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8cb82b', endColorstr='#9dce2c');
	background-color:#8cb82b;
}
/* bouton envoyer du formulaire au clique */
.submit:active {
	position:relative;
	top:1px;
}
/* place les images au centre de la page */
.imageMaxSize{
	text-align:center;
}
/* ********** Gestion du responsive ********** */
/* a 1462px changement de place des bulles d'aides passe l'image en 100%*/
@media screen and (max-width: 1462px){
	a.btn.popover-test{
		left:550px;
	}
}
/* a 1220px passe l'image en 100% */
@media screen and (max-width: 1220px){
	.imageMaxSize img{
		width:100%;
	}

}
/* a 895px la page du site ce réduit (les marges) et le logo passe en relatif */
@media screen and (max-width: 895px){
	#logo{
		position:relative;
	}
	#page{
		margin-right:-8px;
		margin-left:-8px;
   		transition: all 1s ease-in;

	}
	#menu{
		margin-left:-8px;
		margin-right:-8px;
   		transition: all 1s ease-in;

	}
	#footer{
		margin-left:-8px;
		margin-right:-8px;
   		transition: all 1s ease-in;
	}
}
/* a 535px enleve le float du logo et l'aligne au centre de la page */
@media screen and (max-width: 670px){
	a.btn.popover-test{
		left:initial;
		right:60px;
	}
	label {
		display:block;
   		transition: all 1s ease-in;
		width: 100%;
	}
	fieldset{
		text-align:center;
   		transition: all 1s ease-in;
	}
	.labelGo {
		display:none;
   		transition: all 1s ease-in;
	}
}

/* a 535px enleve le float du logo et l'aligne au centre de la page */
@media screen and (max-width: 535px){
	#logo{
		float:none;
		text-align: center;
	}
	#menu{
		border-radius:0%;
	}
	#footer{
		border-radius:0%;
	}
}
/* a 504px augmente la taille des boutons du menu */
@media screen and (max-width: 504px){
	.nav{
		width:200px;
		margin-bottom:5px;
   		transition: all 1s ease-in;
	}
}
/* a 517px augmente la taille des boutons du menu (encore) et passe l'image d'erreur a la taille de la page (100%) */
@media screen and (max-width: 517px){
	.nav{
		border-radius:10px;
   		transition: all 1s ease-in;	
	}
	#error img{
		width:100%;
   		transition: all 1s ease-in;
	}
}
/* a 436px augmente la taille des boutons du menu au maximum (taille de la page = 100%) déplace la fleche qui permet de remonter en haut de la page et réduit les marges de la page */
@media screen and (max-width: 436px){
	.nav{
		width:99%;
   		transition: all 1s ease-in;
		border-radius:0%;
	}
	#contenuPage{
		margin:2px;
		padding-left: 1px;
		padding-right: 1px;
   		transition: all 1s ease-in;

	}
	#btn_up{
		position: fixed;
		bottom: 40px;
		right: 5px;
   		transition: all 1s ease-in;

	}
	a.btn.popover-test{
		right:20px;

	}
	.mobileCenter{
		text-align:center;
   		transition: all 1s ease-in;
	}
}
